.content-bg {
  background-image: url(../../img/main2.jpg);
  background-size: cover;
  background-position: center;
}

.content h1 {
  padding-top: 256px;
  padding-bottom: 16px;
}

.content h1::after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: linear-gradient(180deg, #35c0e3 0%, #3492d4 100%);
  border-radius: 50%;
}

.content p {
  padding-bottom: 32px;
}

.botao {
  margin-bottom: 64px;
}

@media (max-width: 800px) {
  .content h1 {
    padding-top: 128px;
    padding-bottom: 16px;
  }
  .content h1::after {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    background: linear-gradient(180deg, #35c0e3 0%, #3492d4 100%);
    border-radius: 50%;
  }
  .content p {
    padding-bottom: 16px;
  }
}
