body,
p,
h1,
ul,
li,
a,
blockquote {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--cor-1);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
