.introducao-bg {
  background-color: var(--cor-1);
}

.introducao h1 {
  padding-top: 64px;
  margin-bottom: 32px;
}

.introducao h1::after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: linear-gradient(180deg, #35c0e3 0%, #3492d4 100%);
  border-radius: 50%;
  margin-left: 4px;
}

.introducao-lista ul {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  max-width: 1200px;
  text-align: center;
  gap: 32px;
  margin-bottom: 32px;
}

.introducao-lista img {
  display: initial;
}

.introducao-lista li > p {
  justify-self: end;
}

.introducao-lista h3 {
  margin: 16px 0;
}

@media (max-width: 800px) {
  .introducao-lista ul {
    grid-template-columns: 1fr;
    justify-items: stretch;
    justify-content: center;
    gap: 16px;
  }
  .introducao-lista li {
    padding: 4px 0px;
  }
  .introducao-lista li > p {
    justify-self: center;
    padding: 0px 8px;
  }
  .introducao h1 {
    padding-top: 32px;
    margin-bottom: 16px;
    padding-left: 16px;
  }
  .introducao h1::after {
    width: 8px;
    height: 8px;
    margin-left: 2px;
  }
  .introducao-lista li:nth-child(even) {
    background: var(--cor-4);
  }
}
