.container {
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 800px) {
  .container2 {
    box-sizing: border-box;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
  }
}
